[submodule "core"]
	path = core
	url = https://github.com/eclipse-games/ceres-core.git
[submodule "lib-std"]
	path = lib-std
	url = https://github.com/eclipse-games/ceres-lib-std.git
[submodule "modules"]
	path = modules
	url = https://github.com/eclipse-games/ceres-modules.git
